@model IEnumerable<FirstMvc.Models.Department>
@{
    ViewBag.Title = "DepartmentList";
}

<h2>DepartmentList</h2>
<table class="table table-striped">
    <thead>
        <tr><th>Department Id</th>
        <th>Employee dept name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.Id</td>
                <td>@d.DeptName</td>
            </tr>
        }
    </tbody>
    </tbody>
</table>
