@model IEnumerable<FirstMvc.Models.Employee>
@{
    ViewBag.Title = "EmployeeList";
}

<h2>Employee List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>EMployee ID</th>
            <th>Employee Name</th>
            <th>Employee Age</th>
        </tr>

    </thead>
    <tbody>
        @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @item.ID
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                </tr>
            }
    </tbody>
</table>
