
@{
    ViewBag.Title = "OfficeRules";
}

<h2>OfficeRules</h2>
@foreach (string s in ViewBag.offrules)
{
    <ol>
        <li>@s</li>
    </ol>
}

<br />
<hr />
<h2>Office Rules thru  View Data</h2>
@foreach (var x in ViewData["or"] as List<string>)
{
    <p>@x</p>
}
