
@{
    ViewBag.Title = "TestDataTransfer";
}

<h2>TestDataTransfer</h2>
<h3>@ViewBag.data1</h3>
<h3>@ViewData["data2"]</h3>


<hr />

h2>Office Rules thru View Bag</h2>
@foreach (string s in ViewBag.offrules)
{
    <ol>
        <li>@s</li>
    </ol>
}

<br />
<hr />
<h2>Office Rules thru  View Data</h2>
@foreach (var x in ViewData["or"] as List<string>)
{
    <p>@x</p>
}
