@model IEnumerable<MVC_Database.Models.Category>
@{
    ViewBag.Title = "GetCategoryDetails";
}

<h2>GetCategoryDetails</h2>
@foreach(var item in Model)
            {
                <ul style="color:aqua">
                    <li>@item.CategoryID</li>
                    <li>@item.CategoryName</li>
                    <li>@item.Description</li>
                </ul>
            }

